body{
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

.intro_bg {
	background-image: url("../img/intro.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100vh;
	position: relative;
	z-index: 4;
	box-shadow: inset 0 0 1em rgba(17, 17, 17, 0.77);
}


.intro_txt {
    color: #b46e3c;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1.intro_head {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 1px;	
}

h4.intro_subhead {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}

h4.intro_subheada:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #b46e3c;
    left: 0;
    bottom: 31.4%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
}

h4.intro_subheada:after {
    content: "";
    position: absolute;
    width: 20%;
    border-bottom: 1px solid #b46e3c;
    left: 0;
    bottom: 32%;
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
}

.sidebar_bg{
	background-image: url("../img/about.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 600px;
	padding: 2%;
	position: relative;
	z-index: 5;
	box-shadow: inset 0 0 1em rgba(17, 17, 17, 0.77);

}

nav.navbar.nav-stacked.sidebar_tab.navbar-inverse {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    z-index: 3;
    background: #222;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0;
    border-radius: 0;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    margin: 0;
    padding: 0;
    width: 228px;
    position: absolute;
    left: 0;
}

.collapse.navbar-collapse.navbar-ex1-collapse {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 0;
}

.navbar-inverse .navbar-nav>li{
	width: 100%;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    padding-left: 30%;
}

h1.about_head {
    text-align: center;
    position: relative;
    margin-top: 6%;
    color: #170900;
    letter-spacing: 12px;
}

h4.about_subhead {
    text-align: center;
    position: relative;
    /*margin-bottom: 6%;*/
    color: #170900;
    margin-top: 2%;
    /*padding-bottom: 2%;*/
}

/*h4.about_subhead:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #170900;
    left: 0;
    bottom: -23%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn !important;
    animation-duration: 1s !important;
}

h4.about_subhead:after {
    content: "";
    position: absolute;
    width: 14%;
    border-bottom: 1px solid #170900;
    left: 0;
    bottom: -12%;
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn !important;
    animation-duration: 1s !important;
}*/

p.about_para {
    text-align: justify;
    position: relative;
    margin-bottom: 6%;
    color: #170900;
    margin-top: 2%;
}

img.my_image {
    width: 250px;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    border: 4px solid #170900;
}

.resume_bg{
	background-image: url("../img/resume.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/*height: 600px;*/
	padding: 2%;
	padding-bottom: 8%;
	position: relative;
	z-index: 6;
	box-shadow: inset 0 0 1em rgba(17, 17, 17, 0.77);

}

h4.resume_head {
    color: #b46e3c;
    text-align: center;
    position: relative;
    margin-top: 6%;
}

h1.resume_subhead {
    text-align: center;
    position: relative;
    /* margin-bottom: 6%; */
    color: #b46e3c;
    margin-top: 0%;
    /* padding-bottom: 2%; */
    letter-spacing: 12px;
}

.resume_icon {
    margin: 4% auto 5%;
    max-width: 250px;
    position: relative;
}

.resume_icon:before{
	content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #b46e3c;
    left: 0;
    bottom: -46%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* transform: rotate(45deg); */
    margin: 0 auto;
    right: 0;
}

.resume_icon i {
    color: #170900;
    /*background: #b46e3c;*/
    /*width: 50px;
    height: 50px;*/
    position: relative;
    z-index: 5;
    /*border-radius: 100%;
    border-bottom: 4px solid #E0955F;
    line-height: 50px;*/
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 20px;
}

.resume_icon span {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #b46e3c;
}

.work_date {
    /*width: 120px;
    height: 120px;
    background: #fff;*/
    float: left;
    margin-top: 20px;
    /*border-radius: 100%;*/
    position: relative;
    /*border-bottom: 4px solid #ccc;*/
}

.work_date:before{
	content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #b46e3c;
    /* left: 0; */
    bottom: -46%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* transform: rotate(45deg); */
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
}

.work_date h4 {
    margin-top: 40px;
    color: #1B0F09;
    position: relative;
    text-align: center;
    top: 38px;
    /* font-size: 12px; */
}

.work_date span {
    /*font-size: 0.8em; */
    position: relative;
    top: 30px;
    text-align: center;
    left: 0;
    right: 0;
    width: 30px;
    margin: 0 auto;
    display: block;
    color: #1B0F09;
    font-weight: bold;
}

.work_info {
    text-align: left;
    padding: 18px;
    background: rgba(23, 9, 0, 0.8);
    /* border-radius: 8px; */
    border-bottom: 6px solid #170900;
    border-left: 1px solid #170900;
    position: relative;
    margin-bottom: 4%;
}

.work_info:before {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 70%;
    max-width: 300px;
    background: #170900;
    -webkit-box-shadow: 0 15px 10px #170900;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #170900;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.work_info h3 {
    /*font-weight: 800;*/
    text-transform: none;
    color: #B46E3C;
    margin-bottom: 6px;
}

.work_info h4 {
	color: #B46E3C;
    /*font-weight: 600;*/
}

.work_info p {
	color: #B46E3C;
    /*font-size: 0.8em;*/
    margin-top: 10px;
}

.work_info:after {
    border-right-color: #170900 !important;
    border-width: 15px !important;
    margin-top: -15px;
}
.work_info:after {
    right: 100%;
    top: 110px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.row .work_wrap  {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.work{
	position: relative;
}

.work_line {
    width: 1px;
    height: 75%;
    position: absolute;
    top: 24%;
    left: 10.3%;
    background: #B46E3C;
}

button.btn.btn-primary.download_resume {
    background: #B46E3C;
    font-weight: bold;
    color: #170900;
    border: 0;
    border-radius: 0;
    float: right;
}

.bg_dark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.65);
    z-index: 0;
}

.portfolio_bg{
	background-image: url("../img/portfolio.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 2%;
	padding-bottom: 8%;
	position: relative;
	z-index: 7;
	box-shadow: inset 0 0 1em rgba(17, 17, 17, 0.77);

}

.skills_bg{
	background-image: url("../img/skills3.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/*height: 600px;*/
	padding: 2%;
	padding-bottom: 8%;
	position: relative;
	z-index: 8;
	box-shadow: inset 0 0 1em rgba(17, 17, 17, 0.77);

}

h4.skills_head {
    color: #b46e3c;
    text-align: center;
    position: relative;
    margin-top: 6%;
}

h1.skills_subhead {
    text-align: center;
    position: relative;
    /* margin-bottom: 6%; */
    color: #b46e3c;
    margin-top: 0%;
    /* padding-bottom: 2%; */
    letter-spacing: 12px;
}

.services_box_info {
    position: relative;
    margin: 40px auto;
    background: rgba(23, 9, 0, 0.8);
    padding: 2%;
    width: 80%;
    border-bottom: 6px solid #170900;
}

.services_decor {
    width: 2px;
    height: 30px;
    background: #B46E3C;
    top: -36px;
    left: 50%;
    position: absolute;
}

.services_box_info h4 {
    margin: 30px 0;
    /*font-weight: 800;*/
    color:#B46E3C;
}

.services_box_info h5 {
    color:#B46E3C;
}

.services_box_info ul li {
    color:#B46E3C;
}

.services_box_info p {
    /*font-size: 0.8em;*/
    text-align: justify;
    max-width: 250px;
    margin: 10px auto;
    color:#B46E3C;
}

.portfolio_icon {
    margin: 4% auto 22%;
    max-width: 250px;
    position: relative;
}

.portfolio_icon:before{
	content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #b46e3c;
    left: 0;
    bottom: -46%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* transform: rotate(45deg); */
    margin: 0 auto;
    right: 0;
}

.portfolio_icon i {
    color: #170900;
    /* background: #b46e3c; */
    position: relative;
    z-index: 5;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 38px;
}

h1.portfolio_head {
    text-align: center;
    position: relative;
    margin-top: 6%;
    color: #170900;
    letter-spacing: 12px;
}

h4.portfolio_subhead {
    text-align: center;
    position: relative;
    margin-bottom: 2%;
    color: #170900;
    /* margin-top: 2%; */
    /*padding-bottom: 2%;*/
}

/*h4.portfolio_subhead:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #170900;
    left: 0;
    bottom: -23%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
}

h4.portfolio_subhead:after {
    content: "";
    position: absolute;
    width: 14%;
    border-bottom: 1px solid #170900;
    left: 0;
    bottom: -12%;
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
}*/

/***************** ISOTOPE CSS STARTS *********************/

.portfolio-section {
    padding-bottom:40px;
}


/* category filter */

.filter-section {
	/*padding-top:40px;*/
}


.filter-container {
    text-align:center;
    padding:20px
}

ul.list-inline.filter li {
    width: 15%;
    border: 1px solid #170900;
    cursor: pointer;
}

ul.list-inline.filter li:hover {
    color:#B46E3C !important;
    background-color: #170900 !important;
    cursor: pointer;
}

ul.filter > li > a {
    color:#170900;
    font-size:20px;
    line-height:40px;
}

ul.filter > li > a:hover,ul.filter > li > a:focus {
    text-decoration:none;
    color:#170900 !important;
    outline:none;
}

ul.filter > li.active {
    color:#B46E3C !important;
    background-color: #170900 !important;
}

ul.filter > li.active a {
    color:#B46E3C !important;
    background-color: #170900 !important;
}

ul.filter > li span {
    color:#ddd;
    font-size:20px;
    display:inline-block;
    margin:0 5px
}

.filter-section .filter-container .filter > li {
    padding:0;
    margin:0
}

.filter-section h1 {
    text-align:center
}


/* the color of the transparent overlay border */

.portfolio-section.port-col figure .overlay-background {
    background-color:#000;
    background-color:rgba(0,0,0,0.4);
}


/* portfolio images */

.portfolio-section figure {
    float:left;
    width:100%;
    position:relative
}

.portfolio-section figure img {
    width:100%;
    height:auto
}


/* project title under image */

.portfolio-section .article-title {
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    line-height:24px;
    padding:10px 0 30px 0;
}

.portfolio-section .article-title a {
    color:#aaa
}


/* transparent overlay */

.portfolio-section figure:hover .overlay {
    opacity:1;
    visibility:visible
}

.portfolio-section figure:hover .overlay-background {
    opacity:.8;
    visibility:visible
}

.portfolio-section figure .overlay-background {
    z-index:1;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .overlay-background .inner {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:11px;
    background-color:#c8e9c8;
    background-color:rgba(194,231,194,0.9)
}

.portfolio-section figure .overlay {
    z-index:2;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay {
    display:table;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay-content {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    padding:20px 40px
}

.portfolio-section figure .inner-overlay-content.with-icons {
    text-align:center
}


/* icons inside overlay */

.portfolio-section figure .inner-overlay-content.with-icons a {
    width:40px;
    height:40px;
    line-height:42px;
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    font-size:20px;
	background:rgba(0,0,0,0.9);
    color:#fff;
    border-radius:0
}


/* skew image on hover */ 

.isotopeSelector img {
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}

.isotopeSelector:hover img {
    -moz-transform:scale(1.5) rotate(2deg);
    -webkit-transform:scale(1.5) rotate(2deg);
    -o-transform:scale(1.5) rotate(2deg);
    -ms-transform:scale(1.5) rotate(2deg);
    transform:scale(1.5) rotate(2deg);
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease
}

.isotopeSelector figure {
    overflow:hidden
}

.isotopeSelector figure {
    box-shadow:0 0 2px rgba(0,0,0,0.2)
}

/***************** ISOTOPE CSS ENDS *********************/

.contact_bg{
	background-image: url("../img/contact.jpg");
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 2%;
	padding-bottom: 8%;
	box-shadow: inset 0 0 1em rgba(17, 17, 17, 0.77);

}

h1.contact_head {
    text-align: center;
    position: relative;
    margin-top: 6%;
    color: #170900;
    letter-spacing: 12px;
}

h4.contact_subhead {
    text-align: center;
    position: relative;
    margin-bottom: 2%;
    color: #170900;
    /* margin-top: 2%; */
    /*padding-bottom: 2%;*/
}

/*h4.contact_subhead:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #170900;
    left: 0;
    bottom: -23%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
}

h4.contact_subhead:after {
    content: "";
    position: absolute;
    width: 14%;
    border-bottom: 1px solid #170900;
    left: 0;
    bottom: -12%;
    margin: 0 auto;
    right: 0;
    animation-name: zoomIn;
    animation-duration: 1s;
}*/

img.skyline_bg {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    right: 0;
    margin: 0 auto;
    display: block;
}

.contact_wrap {
    width: 50%;
    margin: 5% auto 14%;
    background: rgba(23, 9, 0, 0.8);
    padding: 3%;
    color: #B46E3C;
    position: relative;
    z-index: 9;
}

.contact_wrap p a{
	text-decoration: none;
    color: #B46E3C;
}

section.footer {
    background: #000;
    position: relative;
    color: #B46E3C;
    text-align: center;
}

.animate_icon {
    /*margin: 4% auto 5%;
    max-width: 50px;
    position: relative;
    width: 40px;*/
    margin: -8% auto 5%;
    max-width: 50px;
    position: relative;
    width: 40px;
}

.animate_icon:before{
	content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #b46e3c;
    left: 0;
    bottom: -46%;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.animate_icon a{
	text-decoration: none;
	color: #b46e3c;
}

.animate_icon i{
	text-decoration: none;
	color: #b46e3c;
	text-align: center;
	animation: bounce 2s infinite !important;
	width: 20px;
	margin: 0 auto;
	position: relative;
    left: 25%;
}

.small_icon {
    margin: 3% auto 8%;
    position: relative;
    width: 15%;
}

.small_icon:before{
	content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #170900;
    left: 0;
    bottom: -5px !important;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* transform: rotate(45deg); */
    margin: 0 auto;
    right: 0;
}

.small_icon span {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #170900;
}


/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #080808;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b46e3c;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}